<% if (locals.authMessage) { %>
    <% if (authMessage==="Successful log in!" ) { %>
        <div class="flex flex-col gap-2">
            <span>Successful log in. Welcome, <%=userFirstName%>!</span>
            <a class="text-cyan-200" href="/create-new-message">Create a message</a>
        </div>
        <% } else { %>
            <span class="text-red-400">
                <%=authMessage %>
            </span>
            <% } %>
                <%}%>