<% if (locals.authMessage) { %>
    <% if (authMessage==="Successful log in!" ) { %>
        <div>
            <span>Successful log in. Welcome, <%=userFirstName%>!</span>
            <a href="/create-new-message">Create a message</a>
        </div>
        <% } else { %>
            <span>
                <%=authMessage %>
            </span>
            <% } %>
                <%}%>