<footer class="w-screen flex justify-center absolute bottom-0 py-4 px-8 border-t-[0.2px] border-neutral-700">
    <a href="https://github.com/LintonRobinson/TOP-Members-Only" target="_blank">
        <img class="size-7" src="/assets/github-logo-white.png" alt="">
    </a>
</footer>