<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/error-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Google Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/sign-up.css">
    <link rel="icon" type="image/png" href="/assets/">
    <title>Create New Message</title>
</head>

<body>
    <main>
        <h1>Create New Message</h1>
        <form action="/create-new-message" method="POST">
            <label>
                Message Title:
                <input type="text" name="messageTitle" required>
            </label>
            <label>
                Message Body:
                <textarea name="message" id="" required placeholder="Your message goes here."></textarea>
            </label>
            <button type="submit">Create New Message</button>
        </form>
    </main>

</body>

</html>