<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Google Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="icon" type="image/png" href="/assets/paper-plane.png">
    <title>Sign Up</title>
</head>

<body class="h-screen relative bg-neutral-900 text-slate-50">
    <%- include("partials/navbar") %>
        <main class="flex flex-col justify-center items-center relative pt-11">
            <div class="flex flex-col gap-9 bg-zinc-800 p-10 border border-neutral-700 rounded-md w-md">
                <h1 class="text-4xl">Sign Up</h1>
                <form class="flex flex-col  text-neutral-400" action="/sign-up" method="POST">
                    <div class="flex flex-col gap-6 pb-8 mb-8 border-b border-neutral-700">
                        <label class="flex flex-col gap-2">
                            First Name:
                            <input
                                class="bg-black p-1.5 border border-neutral-700 rounded-md focus:border-cyan-200  outline-none transition-all"
                                type="text" name="first_name" placeholder="First Name" required>
                        </label>
                        <label class="flex flex-col gap-2">
                            Last Name:
                            <input
                                class="bg-black p-1.5 border border-neutral-700 rounded-md focus:border-cyan-200  outline-none transition-all"
                                type="text" name="last_name" placeholder="Last Name" required>
                        </label>
                        <label class="flex flex-col gap-2">
                            Email:
                            <input
                                class="bg-black p-1.5 border border-neutral-700 rounded-md focus:border-cyan-200  outline-none transition-all"
                                type="text" name="username" placeholder="example@email.com" required>
                        </label>
                        <label class="flex flex-col gap-2">
                            Password:
                            <input
                                class="bg-black p-1.5 border border-neutral-700 rounded-md focus:border-cyan-200  outline-none transition-all"
                                type="password" name="password" placeholder="********" required>
                        </label>
                        <label class="flex flex-col gap-2">
                            Confirm Password:
                            <input
                                class="bg-black p-1.5 border border-neutral-700 rounded-md focus:border-cyan-200  outline-none transition-all"
                                type="password" name="confirmedPassword" placeholder="********" required>
                        </label>
                        <label class="flex items-center gap-2">
                            Grant admin privileges:
                            <input
                                class="bg-black p-1.5 border border-neutral-700 rounded-md focus:border-cyan-200  outline-none transition-all"
                                type="checkbox" name="admin">
                        </label>
                    </div>
                    <button class="bg-cyan-200 text-black p-1.5 border border-neutral-700 rounded-md cursor-pointer"
                        type="submit">Sign Up</button>
                </form>
                <%- include("partials/errors") %>
            </div>
        </main>
        <%- include("partials/footer") %>
</body>

</html>